@model ProductsListViewModel

<div class="container-fluid">
    <div class="row">
        @foreach (var p in Model.Products)
        {
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="product-image-container">
                        <img src="@p.ImageUrl" class="card-img-top product-image" alt="@p.Name">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@p.Name</h5>
                        <p class="card-text">@p.Description</p>
                        <h6 class="card-subtitle mb-2 text-muted">₱@p.Price.ToString("N2")</h6>
                        <form asp-action="AddToCart" asp-controller="Cart" method="post">
                            <input type="hidden" name="productId" value="@p.ProductID" />
                            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                            <button type="submit" class="btn btn-success">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1">
</div>